<!doctype html>
<html ng-app="storeApp" lang="en">
<head>
    <title>Angular Store</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>

<body class="container list-group" ng-controller="StoreController as store">
<div class="page-header">
    <h1>Angular Shop Store</h1>
    <small>Buy what you like!!!</small>

    <div class="pull-right">
        <label for="numLimit">Limit the results: </label>
        <input
                id="numLimit"
                type="number"
                placeholder="Limit the list"
                ng-model="numLimit"
                min="0"
                max="{{store.products.length}}"
                step="1">
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
    <div class="container">
        <h3><span class="label label-info">Total: </span><span class="label label-default">{{amount | currency}}</span>
        </h3>
    </div>
</nav>

<div class="list-group-item" ng-controller="PanelController as panel"
     ng-repeat="product in store.products | limitTo: numLimit">

    <section class="tab">

        <ul class="nav nav-pills">
            <li ng-class="{active: panel.isSelected(1)}">
                <a href="#" ng-click="panel.selectPanel(1)">Description</a>
            </li>

            <li ng-class="{active: panel.isSelected(2)}">
                <a href="#" ng-click="panel.selectPanel(2)">Specification</a>
            </li>

            <li ng-class="{active: panel.isSelected(3)}">
                <a href="#" ng-click="panel.selectPanel(3)">Reviews</a>
            </li>
        </ul>

        <!-- Product details-->
        <product-details-tab></product-details-tab>

        <!-- Product Specifications -->
        <product-specs-tab></product-specs-tab>

        <!-- Product Reviews -->
        <product-reviews-tab></product-reviews-tab>

    </section>
</div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
<script src="js/storeApp.js"></script>
</body>
</html>